{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <https://www.gnu.org/licenses/>.
}}
{{!
    @template local_pluginsview/pluginsview_page

    Template for the plugins view page filters and export button.

    Context variables required for this template:
    * actionurl - The URL for the form action.
    * search - Current search string.
    * types - Array of types for the select dropdown (value, name, selected).
    * statuses - Array of statuses for the select dropdown (value, name, selected).
    * jsonurl - The URL for JSON export.

    Example context (json):
    {
        "actionurl": "#",
        "search": "test",
        "types": [{"value": "local", "name": "Local", "selected": true}],
        "statuses": [{"value": "uptodate", "name": "Up to date", "selected": false}],
        "jsonurl": "#"
    }
}}
<div class="local-pluginsview-filters">
    <form method="get" action="{{actionurl}}">
        <div class="filter-group">
            <label for="filter-search">{{#str}} search, local_pluginsview {{/str}}</label>
            <input type="text" name="search" id="filter-search" value="{{search}}" class="form-control">
        </div>

        <div class="filter-group">
            <label for="filter-type">{{#str}} coltype, local_pluginsview {{/str}}</label>
            <select name="type" id="filter-type" class="form-select">
                {{#types}}
                <option value="{{value}}" {{#selected}}selected{{/selected}}>{{name}}</option>
                {{/types}}
            </select>
        </div>

        <div class="filter-group">
            <label for="filter-status">{{#str}} colstatus, local_pluginsview {{/str}}</label>
            <select name="status" id="filter-status" class="form-select">
                {{#statuses}}
                <option value="{{value}}" {{#selected}}selected{{/selected}}>{{name}}</option>
                {{/statuses}}
            </select>
        </div>

        <div class="filter-actions d-flex gap-2">
            <input type="submit" value="{{#str}} filter, local_pluginsview {{/str}}" class="btn btn-primary">
            <a href="{{actionurl}}" class="btn btn-secondary">{{#str}} clear, local_pluginsview {{/str}}</a>
        </div>
    </form>
</div>

<div class="local-pluginsview-export-buttons">
    <a href="{{jsonurl}}" class="btn btn-outline-primary">{{#str}} exportjson, local_pluginsview {{/str}}</a>
</div>
